<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Departamentos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item routerLink="/departamento/{{departamento.id}}" *ngFor="let departamento of departamentos">
            <ion-icon slot="start" name="business"></ion-icon>
            <ion-label>
                <h2>{{departamento.name}}</h2>
                <p>Responsable: {{departamento.encargado}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>