<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Detalle del insumo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content style="text-align: center;">
            <img text-center style="border:8px solid #445c7c; border-radius:4px; padding:20px;" src="assets/logo.jpg" alt="">
            <ion-list padding>
                <ion-item>
                    <ion-icon slot="start" name="basket"></ion-icon>
                    {{product.name}}
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" name="help-circle-outline"></ion-icon>
                    {{product.stock}} en existencia
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" name="home"></ion-icon>
                    {{product.departament}}
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" name="newspaper-outline"></ion-icon>
                    <ion-input type="number" min="1"[(ngModel)]="amount"  placeholder="Ingresa la cantidad a entregar"></ion-input>
                </ion-item> <br>
                <ion-button color="primary" (click)="add()">Agregar</ion-button>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>